/* Sticky footer styles
-------------------------------------------------- */
	html {
	  position: relative;
	  min-height: 100%;
	}
	body {
	  margin-top: 80px;
	  /* Margin bottom by footer height */
	  margin-bottom: 60px;
	}
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 60px;
	  background-color: #f5f5f5;
	}


	/* Custom page CSS
	-------------------------------------------------- */
	/* Not required for template or sticky footer method. */

	.container {
	  width: auto;
	  max-width: 80%;
	  min-width: 500px;
	  padding: 0 15px;
	}
	.container .text-muted {
	  margin: 20px 0;
	}
	 .table>tbody>tr>td {
		padding: 30px;
	}
	.nav.navbar-nav a {
		cursor: pointer;
	}
	.table-bordered>thead>tr>th{
	  border:none;
	  text-align:center;
	}
	.table-bordered>thead>tr>td{
		width:300px;
	}
	.label{
	  margin-right:1em;
	}

	* {
		-webkit-transition: all 1s ease;
		  -moz-transition: all 1s ease;
		  -ms-transition: all 1s ease;
		  -o-transition: all 1s ease;
		  transition: all 1s ease;
	}
	
	.img-container {
		height: 200px;
		overflow: hidden;
	}

	.template-image{
		width: 400px;
	}
	.template-description{
		width: 400px;
		max-width: 400px;
		overflow:auto;
	}
	a{
		cursor: pointer;
	}
